.dashboard {
    padding: 2px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .graph-container {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .toggle-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .toggle-button:hover {
    background-color: #2980b9;
  }


  