/* Header.css */

.header {
  background-color: #1abc9c;
  color: white;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header .hamburger {
    display: block;
  }
  .header{
    padding: 10px 20px;
  }
}
